# Maven Build Outputs
**/target/
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/.flattened-pom.xml
**/release.properties
**/dependency-reduced-pom.xml
**/buildNumber.properties
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.jar

# Gradle Build Outputs
**/.gradle/
**/build/

# Node / Angular Build Outputs
**/node_modules/
**/dist/
**/.angular/

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath/
.project/
.metadata/
.DS_Store

# Local Env and Temp files
.env
.env.local
**/tmp/
**/temp/
